
{{#each schools}}
    <div>
       <a href="http://{{this.[school.school_url]}}">{{this.[school.name]}}</a>
    </div>
{{/each}}

    <div id="finalParams">{{finalParams}}</div>

{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> --}}
<script src="./js/results.js"></script>
